# environment
.env

# dev
.local/
boxfile.yml

# ide
.idea
*.iml

# testing
.php_cs.cache
.php-cs-fixer.cache
tests/_output/
tests/_support/_generated/
tests/_data/phalcon_test.sqlite
tests/_data/phalcon_test.sqlite_snapshot

# libs
vendor/
