parameters:
    paths:
        - src
    level: 1
    ignoreErrors:
        -
            message: '#Static access to instance property Phalcon\\Support\\Debug::\$isActive.#'
            path: src/Support/Debug.php
        - "#Unsafe usage of new static#"
