parameters:
    paths:
        - src
    level: 2
    ignoreErrors:
        -
            message: '#Static access to instance property Phalcon\\Support\\Debug::\$isActive.#'
            path: src/Support/Debug.php
