
# Schema fixtures (talon schema)
schema_source=tests/support/Migrations
schema_namespace=Phalcon\Tests\Support\Migrations
schema_output=tests/support/assets/schema
schema_pre=Phalcon\Tests\Support\Migrations\BootstrapMigration
schema_post=Phalcon\Tests\Support\Migrations\FooterMigration
